<!-- ######################## Header ######################## -->
        <header>
          <% if flash[:alert] == "Your session expired. Please sign in again to continue." %>
              <% flash[:timedout] = '  ' %>
          <% end %>
          <% if !flash.blank? && flash[:timedout] != "  " %>
              <% p "FLASH EXECUTED" %>
              <br><br><br><br><br><br>
              <div class = "row" style="height:0px">
                <div class="four columns"></div>
                <div class="four columns">
                  <div class="alert-box alert secondary">
                    <h4 style="text-align:center">
                      <% flash.each do |key, value| %>
                        <%= value %>
                      <% end %>
                    </h4>
                  </div>
                </div>
                <div class="four columns"></div>
              </div>
          <% else %>
            <% if (!alert.nil? || !notice.nil?) %>
                <br><br><br><br><br><br>
                <div class = "row" style="height:0px">
                  <div class="four columns"></div>
                  <div class="four columns">
                    <div class="alert-box alert secondary">
                      <h4 style="text-align:center"><%= alert %>
                      <%= notice %>        
                      </h4>
                    </div>
                  </div>
                  <div class="four columns"></div>
                </div>
            <% end %>
          <% end %>
          <div class="row">
            <h1 class="heading_supersize">Shoot for the stars. <br>Get into an Ivy League School.
            <br> <a href= <%=mentors_path%> class="button-splash">Find a mentor now!</a>
            </h1>
          </div>
        </header>
<!-- ######################## Section ######################## -->

<section class="section_main">
  

      <h1 style="text-align:center">Current Ivy students know exactly
        <br>what their school’s admissions are looking for.</h1>
      <br><br><br><br>
        <div class = "row">
          <div class= "twelve columns text-center">
            <%= image_tag("ivy_league.jpg") %>
          </div>
        </div>
      <br><br><br><br>
      <div class="row">
        
        <div class="seven columns"><div class = "block-image block-image1"><%= image_tag("block1.jpg") %></div>
        </div>
        <div class="five columns home-block"><h2><strong> Mentors from your top schools</strong></h2>
          <h4 class="subheader"> Talk with any of our mentors for free for 20 minutes to see who is the best fit for you.</h4>
        </div>
      </div>

      
      
      <div class="row">
        
        <div class="five columns home-block"><p><h2><strong> Personalized application strategy</strong></h2>
          <h4 class="subheader"> Our mentors will review your credentials and tailor a specific application strategy for you to get into their school.</h4></p>
        </div>
        <div class="seven columns"><div class = "block-image block-image2"><%= image_tag("block2.jpg") %></div>
        </div>
      </div>

      

      <div class="row">
        
        <div class="seven columns"><div class = "block-image block-image3"><%= image_tag("block3.png") %></div>
        </div>
        <div class="five columns home-block"><p><h2><strong> Walk-through of the application</strong></h2>
          <h4 class="subheader"> Mentors will walk you through every single part of your application so that you tell a consistent and captivating story of your high school career.</h4></p>
        </div>
      </div>



      <div class="row">
        
        <div class="five columns home-block"><p><h2><strong> Build a personal relationship,<br> make a friend</strong></h2>
          <h4 class="subheader"> Get introduced to students and organizations before you even step foot on campus. Your mentor will be guide for you throughout your college career.</h4></p>
        </div>
        <div class="seven columns"><div class = "block-image block-image4"><%= image_tag("block4.jpg") %></div>
        </div>
      </div>

      <div class="row">
        <div style="text-align:center">
          <a href=<%=mentors_path%> class="button-splash2">Find a mentor now!</a>
        </div>
      </div>
</div>      

<br><br><br><br><br><br><br><br><br><br><br><br>



<!--
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
-->

<!-- ######################## Footer ######################## -->  
      <!--
<footer>

      <div class="row">
      
          <div class="twelve columns footer">
              <a href="http://twitter.com/dieterarno" class="lsf-icon" style="font-size:16px; margin-right:15px" title="twitter">Twitter</a> 
              <a href="http://csstemplateheaven.com/csstemplateheaven" class="lsf-icon" style="font-size:16px; margin-right:15px" title="facebook">Facebook</a>
              <a href="http://csstemplateheaven.com/csstemplateheaven" class="lsf-icon" style="font-size:16px; margin-right:15px" title="pinterest">Pinterest</a>
              <a href="http://twitter.com/dieterarno" class="lsf-icon" style="font-size:16px" title="instagram">Instagram</a>
          </div>
          
      </div>

</footer>

-->


<!--
          <article class="six columns">
                <div class="panel">
                    <h3>Lorem Ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus.</p>
                  <a href="#" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>
          
              
          <article class="six columns">
                <div class="panel">
                    <h3>Lorem Ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus.</p>
                  <a href="#" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>
  
      </div>
      